<header>

  <div class="logo">
    <img src="assets/non.jpg" alt="">
  </div>
  <div class="menu">
    <li><a href="">Giới Thiệu</a>
      <ul class="sub-menu">
        <li><a href="">Giới thiệu trường học</a></li>
        <li><a routerLink="/teacherinformation">Giảng viên</a></li>
        <li><a routerLink="/box">Một ngày của bé ở trường</a></li>
        <li><a href="">Học phí của trường Hoa Mai</a></li>
      </ul>

    </li>
    <li><a href="">Chương trình giáo dục</a>

    </li>
    <li><a href="">Tin tức</a>
      <ul class="sub-menu">
        <li><a href="">Thông báo</a></li>
        <li><a routerLink="/menu">Thực đơn của trẻ</a></li>
        <li><a href="">Tin giáo dục</a></li>
        <li><a routerLink="/schedule">Thời khóa biểu</a></li>
      </ul>
    </li>
    <li><a href="">Camera</a>
      <ul class="sub-menu">
        <li><a href="">Xem camera</a></li>
      </ul>
    </li>

    <li><a href="">Hỗ trợ PHHS</a>
      <ul class="sub-menu">
        <li><a routerLink="/absencefrom">Tải tài liệu học tập</a></li>
        <li><a routerLink="/contact">Tiếp nhận các câu hỏi phụ huynh</a></li>
        <li><a routerLink="/childinformation">Thông tin của trẻ</a></li>
      </ul>
    </li>
    <li><a href="">Điểm danh</a></li>


  </div>
  <div class="orthers">
    <li><input type="text" placeholder="Tìm kiếm"></li>


    </div>
    <div class="profile-img">
      <div *ngIf="user" ><span style="width:20px;height:20px; border-radius: 1px solid #fafafa;">
          <div class="dropdown">
            <img style="width:25px;height:25px;border-radius: 100%;" (error)="onImageError($event)"
              [src]="user.photoURL" alt="">
            <div class="dropdown-content">
              <p (click)="signOut()">Đăng xuất</p>
            </div>
          </div>

        </span>
      </div>
    </div>






</header>
<section>
  <div class="container">
    <h1>Nội Dung</h1>
    <form action="https://formsubmit.co/69870cab57027c2a0742a00a2d0392fc" method="POST">
      <input type="text" name="Họ tên Phụ Huynh" placeholder="Họ và Tên Phụ Huynh" required>
      <input type="text" name="Họ tên Học Sinh" placeholder="Họ và tên học sinh" required>
      <input type="email" name="Email" placeholder="Email" required>
      <select name="Class">
        <option>Lớp lá 1</option>
        <option>Lớp lá 2</option>
        <option>Lớp lá 3</option>
        <option>Lớp Chồi 1</option>
        <option>Lớp Chồi 2</option>
        <option>Lớp Chồi 3</option>
        <option>Lớp Mầm 1</option>
        <option>Lớp Mầm 2</option>
        <option>Lớp Mầm 3</option>
      </select>
      <textarea name="Mesage" placeholder="Message" required></textarea>
      <button type="submit">Send</button>
    </form>
  </div>
</section>
