<h1 style="text-align: center;">THỰC ĐƠN ĂN THEO TUẦN</h1>

<div class="parent white">

    <div class="box-white">
        <h3>Thời Gian</h3>
        <div style="display: flex;text-align: center;padding-left:1em;"><img src="../assets/avatar/may.jpg">
            <p style="padding-top:1em;padding-bottom: 1.5em;align-items:center;"> Sáng</p>
        </div>
        <div style="display: flex;text-align: center;padding-left:1em;"><img src="../assets/avatar/mattroi.png">
            <p style="padding-top:1em;padding-bottom: 1.5em;align-items:center;"> Trưa</p>
        </div>
        <div style="display: flex;text-align: center;padding-left:1em;"><img
                src="../assets/avatar/mattroibuoichieu.png">
            <p style="padding-top:1em;padding-bottom: 1.5em;align-items:center;"> Chiều</p>
        </div>
    </div>
    <div class="box-pink">
        <h3>Thứ 2</h3>
        <hr class="crossfirst">
        <div class="buoisang">
            <p>Mỳ ý sốt bò hầm </p>
            <p>Sữa Pauls </p>
        </div>

        <hr class="cross">
        <div class="buoitrua">
            <p>Thịt kho trứng cút</p>
            <p>Canh rong biển thịt gà</p>
        </div>

        <hr class="cross">
        <p>Xôi gấc</p>
        <p>Sữa Pauls </p>
    </div>
    <div class="box-purple">
        <h3>Thứ 3</h3>
        <hr class="crossfirst">
        <div class="buoisang">
            <p>Bánh da cá </p>
            <p>Sữa Pauls </p>
        </div>

        <hr class="cross">
        <div class="buoitrua">
            <p>Gà tẩm bột chiên giòn</p>
            <p>Cải thảo xào tỏi</p>
        </div>

        <hr class="cross">
        <p>Cháo lươn</p>
        <p>Sữa Pauls </p>
    </div>
    <div class="box-blue">
        <h3>Thứ 4</h3>
        <hr class="crossfirst">
        <div class="buoisang">
            <p>Miến mọc </p>
            <p>Sữa Pauls </p>
        </div>

        <hr class="cross">
        <div class="buoitrua">
            <p>Chả cá sốt cà chua</p>
            <p>Su su luộc</p>
        </div>

        <hr class="cross">
        <p>Mỳ nấu hải sản </p>
        <p>Sữa Pauls </p>

    </div>
    <div class="box-green">
        <h3>Thứ 5</h3>
        <hr class="crossfirst">
        <div class="buoisang">
            <p>Xôi thịt kho tàu </p>
            <p>Sữa Pauls </p>
        </div>

        <hr class="cross">
        <div class="buoitrua">
            <p>Ngan hầm ngũ sắc</p>
            <p>Bắp cải xào tỏi</p>
        </div>

        <hr class="cross">
        <p>Phở gà</p>
        <p>Sữa Pauls </p>
    </div>
    <div class="box-yellow">
        <h3>Thứ 6</h3>
        <hr class="crossfirst">
        <div class="buoisang">
            <p>Bánh mì sốt vang</p>
            <p>Sữa Pauls </p>
        </div>

        <hr class="cross">
        <div class="buoitrua">
            <p>Bò băm sốt đậu hủ</p>
            <p>Canh rau cải nấu thịt</p>
        </div>

        <hr class="cross">
        <p>Bún tôm</p>
        <p>Sữa Pauls </p>
    </div>
</div>