<div class="card-info">
    <div class="info-form">
        <div class="info-user">
            <img class="avatar" src="../assets/avatar/hungdeptrai.jpg">
            <div class="infomation-user">
                <div class="name-user">
                    <span>Trương Tấn Hưng</span>
                </div>
                <div class="elo-flag">
                    <span style="font-size: 18px;">Ngày sinh: 19/10/2001</span>

                    <img class="flag" style=" max-width: 10%; margin-left: 10px;"
                        src="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.4.3/flags/4x3/vn.svg">
                </div>
                <div style="padding-top: 0.5em;padding-bottom:0.5em"><span color=red class="update" style="text-decoration:none">Giới tính: Nam</span>
                <span color=red class="update"  style="text-decoration:none; padding-left: 5em;">Lớp: Lá</span></div>
                
                <div><span class="count" >Nơi sinh: Thành phố Hồ Chí Minh</span></div>
                <div>
                    <span class="count" >Thông tin cha mẹ: </span>
                    <div class="user-setting" style="padding-top: 0.5em;">
                       
                        <span class="b1"></span><span>Họ tên cha: Nguyễn Văn Tèo</span>
                        <span class="b1"></span><span style="margin-left: 1em;">Nghề nghiệp: Làm công.</span>
                        <span class="b1"></span><span style="margin-left: 1em;">Số điện thoại: 1234567890</span>
                        
                    </div>
                    <div style="padding-top: 0.5em;">
                        <span class="b1"></span><span>Họ tên cha: Nguyễn Thị Nở</span>
                        <span class="b1"></span><span style="margin-left: 1.5em;">Nghề nghiệp: Nội trợ.</span>
                        <span class="b1"></span><span style="margin-left: 2.2em;">Số điện thoại: 0987654321</span>
                    </div>
                    <div class="space"></div>
                    <div style=" font-size:2em;">
                        
                            <span >THÔNG TIN SỨC KHỎE</span>
                        
                    </div>
               
                    
                </div>


            </div>

            
        </div>
        <div class="">
        <div class="userStart">
            <ul style="display: flex; list-style-type: none;">
                <li><h3 class="user-game-score">Cân nặng</h3><span>25 Kg</span></li>
                <li><h3 class="user-game-score">Chiều cao</h3><span>70 Cm</span></li>
                <li><h3 class="user-game-score">Mắt</h3><span>10/10</span></li>
                <li><h3 class="user-score">Tình trạng răng</h3><span>Tốt</span></li>
                <li><h3 class="user-game-score">Tình trạng sức khỏe</h3><span>Tốt</span></li>
                <li><h3 class="user-game-score">Ngày ghi nhận:</h3><span>4/10/2022</span></li>
            </ul>
        </div>

        <div class="space-bottom"></div>
    </div>
    </div>
    </div>