<header>

  <div class="logo">
    <img src="assets/non.jpg" alt="">
  </div>
  <div class="menu">
    <li><a href="">Giới Thiệu</a>
      <ul class="sub-menu">
        <li><a href="">Giới thiệu trường học</a></li>
        <li><a routerLink="/teacherinformation">Giảng viên</a></li>
        <li><a routerLink="/box">Một ngày của bé ở trường</a></li>
        <li><a href="">Học phí của trường Hoa Mai</a></li>
      </ul>

    </li>
    <li><a href="">Chương trình giáo dục</a>

    </li>
    <li><a href="">Tin tức</a>
      <ul class="sub-menu">
        <li><a href="">Thông báo</a></li>
        <li><a routerLink="/menu">Thực đơn của trẻ</a></li>
        <li><a href="">Tin giáo dục</a></li>
        <li><a routerLink="/schedule">Thời khóa biểu</a></li>
      </ul>
    </li>
    <li><a href="">Camera</a>
      <ul class="sub-menu">
        <li><a href="">Xem camera</a></li>
      </ul>
    </li>

    <li><a href="">Hỗ trợ PHHS</a>
      <ul class="sub-menu">
        <li><a routerLink="/absencefrom">Tải tài liệu học tập</a></li>
        <li><a routerLink="/contact">Tiếp nhận các câu hỏi phụ huynh</a></li>
        <li><a routerLink="/childinformation">Thông tin của trẻ</a></li>
      </ul>
    </li>
    <li><a href="">Điểm danh</a></li>


  </div>
  <div class="orthers">
    <li><input type="text" placeholder="Tìm kiếm"></li>


    </div>
    <div class="profile-img">
      <div *ngIf="user" ><span style="width:20px;height:20px; border-radius: 1px solid #fafafa;">
          <div class="dropdown">
            <img style="width:25px;height:25px;border-radius: 100%;" (error)="onImageError($event)"
              [src]="user.photoURL" alt="">
            <div class="dropdown-content">
              <p (click)="signOut()">Đăng xuất</p>
            </div>
          </div>

        </span>
      </div>
    </div>






</header>

<section>
<h1>THỜI KHÓA BIỂU</h1>
<table style="width:100%">
    <tr>
      <th>Lớp</th>
      <th>Thứ hai</th>
      <th>Thứ ba</th>
      <th>Thứ tư</th>
      <th>Thứ năm</th>
      <th>Thứ sáu</th>

    </tr>
      <tr>
        <td>Mầm 1</td>
        <td>Khám phá</td>
        <td>Thể dục</td>
        <td>Toán <br>Âm nhạc</td>
        <td>Tạo hình</td>
        <td>Văn học</td>
      </tr>
      <tr>
        <td>Mầm 2</td>
        <td>Thể dục</td>
        <td>Khám phá <br> Toán</td>
        <td>Tạo hình</td>
        <td>Văn học</td>
        <td>Âm nhạc</td>

      </tr>
      <tr>
        <td>Chồi 1</td>
        <td>Âm nhạc</td>
        <td>Khám phá <br>Văn học</td>
        <td>Tạo hình</td>
        <td>Toán</td>
        <td>Thể dục</td>
      </tr>
      <tr>
          <td>Chồi 2</td>
          <td>Khám phá <br>Văn học</td>
          <td>Thể dục</td>
          <td>Toán</td>
          <td>Tạo hình</td>
          <td>Âm nhạc</td>
        </tr>
        <tr>
          <td>Lá</td>
          <td>Thể dục</td>
          <td>Khám phá <br> Tạo hình</td>
          <td>Văn học</td>
          <td>Toán</td>
          <td>Âm học</td>
        </tr>

  </table>
</section>
