<section class="wrapper">
    <div class="left">
      <img class="left-image"
      src="../assets/avatar/logo.jpg" >

    </div>
    <div class="right">
      <div class="panel login">
        <p class="title">TRƯỜNG MẦM NON </p>
        <form style="margin: 40px">
          <input class="input-box" type="text" name="username" required
            placeholder="Phone number, username, or email">
          <input class="input-box" type="password" name="password" required
            placeholder="Password">
          <input  style="background-color: #0095f6;" class="button" type="submit" name="login"
            value="Log In">
          <div class="divider">



          </div>

        </form>
      </div>

    </div>
  </section>
