<nav class="nav__cont">
    <ul class="nav">
      <li class="nav__items ">
  
        <a href="/login">Login</a>
      </li>      
  
      <li class="nav__items ">
  
        <a href="/home">Home</a>
      </li>
  
      <li class="nav__items ">
  
       <a href="/childinformation">Child Information</a>
      </li>
  
      <li class="nav__items ">
  
        <a href="/attendance">Attendance</a>
      </li>
      <li class="nav__items ">
  
        <a href="/teacherinformation">Teacher Information</a>
      </li>
      <li class="nav__items ">
  
        <a href="menu">Menu</a>
      </li>
      <li class="nav__items ">
  
        <a href="schedule">Schedule</a>
      </li>
      
    </ul>
  </nav>
  
  
    <div class="wrapper">
      <main style=" margin: 0 0 0 90px;">
        <router-outlet></router-outlet>
      </main>
    </div>