
<div class="background">
    <h1>Đơn xin nghỉ học</h1><form><div class="hangdau">
    <label>Tôi tên là: </label>
<input type="text" size="20" style="height: 10%;"><br><br>
    <label style="padding-left: 1em;">Phụ huynh của bé: </label>
    <input type="text" size="20" style="height: 10%;"><br><br>
</div>
<div class="hanghai">
    <label>Hiện  đang học lớp: </label>
    <input type="text" size="20" style="height: 10%;"><br><br>
    <label style="padding-left: 1em;">Khóa: </label>
    <input type="text" size="20" style="height: 10%;"><br><br>
</div>
<p style="text-align: center;">Hôm nay tôi viết đơn này kính mong Thầy(cô) cho phép em được nghỉ học.</p>
<div class="hangba">
    
    <label>Lý do: </label>
    <input type="text" size="120" style="height: 10%;"><br><br>
</div>
<div class="hangbon">
    <p>Tôi xin cam đoan thực hiện đầy đủ trách nhiệm đối với môn học.</p>
    <p>Tôi xin chân thành cảm ơn!</p>
    <button style="width: 10%; height:100%;">Gửi</button>
</div>

</form></div>

