h1{
    text-align: center;
    font-size: 3em;
}
.hangdau{
    display: flex;
    justify-content: center;
}
.hanghai{
    display: flex;
    justify-content: center;
}
.hangba{
    display: flex;
    justify-content: center;
}
.hangbon{
    text-align: center;
    justify-content: center;
}
.background{
    background-color: #eeeee4;
}