<header>

  <div class="logo">
    <img src="assets/non.jpg" alt="">
  </div>
  <div class="menu">
    <li><a href="">Giới Thiệu</a>
      <ul class="sub-menu">
        <li><a href="">Giới thiệu trường học</a></li>
        <li><a routerLink="/teacherinformation">Giảng viên</a></li>
        <li><a routerLink="/box">Một ngày của bé ở trường</a></li>
        <li><a href="">Học phí của trường Hoa Mai</a></li>
      </ul>

    </li>
    <li><a href="">Chương trình giáo dục</a>

    </li>
    <li><a href="">Tin tức</a>
      <ul class="sub-menu">
        <li><a href="">Thông báo</a></li>
        <li><a routerLink="/menu">Thực đơn của trẻ</a></li>
        <li><a href="">Tin giáo dục</a></li>
        <li><a routerLink="/schedule">Thời khóa biểu</a></li>
      </ul>
    </li>
    <li><a href="">Camera</a>
      <ul class="sub-menu">
        <li><a href="">Xem camera</a></li>
      </ul>
    </li>

    <li><a href="">Hỗ trợ PHHS</a>
      <ul class="sub-menu">
        <li><a routerLink="/absencefrom">Tải tài liệu học tập</a></li>
        <li><a routerLink="/contact">Tiếp nhận các câu hỏi phụ huynh</a></li>
        <li><a routerLink="/childinformation">Thông tin của trẻ</a></li>
      </ul>
    </li>
    <li><a href="">Điểm danh</a></li>


  </div>
  <div class="orthers">
    <li><input type="text" placeholder="Tìm kiếm"></li>


    </div>
    <div class="profile-img">
      <div *ngIf="user" ><span style="width:20px;height:20px; border-radius: 1px solid #fafafa;">
          <div class="dropdown">
            <img style="width:25px;height:25px;border-radius: 100%;" (error)="onImageError($event)"
              [src]="user.photoURL" alt="">
            <div class="dropdown-content">
              <p (click)="signOut()">Đăng xuất</p>
            </div>
          </div>

        </span>
      </div>
    </div>






</header>


<section class="home background" id="home">
  <div class="content">
    <h1>Chào mừng đến với trường mầm non Hoa Mai</h1>
    <h3>Làm cho giáo dục trở nên thú vị hơn</h3>
    <p>Trường mầm non Hoa Mai được thành lập ngày 30/05/2016 với 30 cán bộ, giáo viên, nhân viên; hơn 300 trẻ thuộc 3 nhóm lớp. Trường mầm non nằm trong khu dân cư an ninh, trật tự, cách xa tuyến đường lớn, giao thông thuận lợi. Trường chú trọng vào môi trường học thân thiện, năng động, chế độ chăm sóc tốt với những trang thiết bị cao cấp, đầy đủ tiện nghi không những đảm bảo an toàn tuyệt đối cho bé mà còn đảm bảo cho công tác nuôi dưỡng, chăm sóc, giáo dục trẻ toàn diện.</p>
    <a routerLink="/about" class="btn">xem thêm</a>
  </div>
  <div class="image">
    <img src="assets/avatar/home-img.png" alt="">
  </div>

</section>
--------------------------------------------------------------------
<section class="features up-and-down" id="features">
  <div class="box-container">
    <h3 class="title">Tại sao trẻ em yêu thích chúng tôi</h3>
    <div class="box">
      <img src="assets/avatar/left-icon1.png" alt="">
      <div class="info">
      <h3>Những cuộc trò chuyện vui nhộn</h3>
      <p></p>
    </div>
    </div>
    <div class="box">
      <img src="assets/avatar/left-icon2.png" alt="">
      <div class="info">
      <h3>
        Nhiều hoạt động</h3>
      <p></p>
      </div>
    </div>
    <div class="box">
      <img src="assets/avatar/left-icon3.png" alt="">
      <div class="info">
      <h3>
        Vui vẻ không ngừng</h3>
      <p></p>
      </div>
    </div>
  </div>

  <img class="stick" src="assets/avatar/stick.png" alt="">

  <div class="box-container">
    <h3 class="title">Tại sao phụ huynh chọn chúng tôi</h3>
    <div class="box">
      <img src="assets/avatar/right-icon1.png" alt="">
      <div class="info">
      <h3>
        Giám sát liên tục</h3>
      <p></p>
      </div>
    </div>
    <div class="box">
      <img src="assets/avatar/right-icon2.png" alt="">
      <div class="info">
      <h3>Giáo viên chuyên nghiệp</h3>
      <p></p>
      </div>
    </div>
    <div class="box">
      <img src="assets/avatar/right-icon3.png" alt="">
      <div class="info">
      <h3>Các chương trình đã phát triển</h3>
      <p></p>
    </div>
    </div>
  </div>
</section>
<!-- about -->
<section class="about background" id="about">
  <div class="image">
    <img src="assets/avatar/about-img.png" alt="">
  </div>
  <div class="content">
    <h3>Một lời giới thiệu về chúng tôi</h3>
    <p>Tại Mầm non Hoa Mai, chúng tôi luôn tin tưởng vào sức mạnh của thiết kế kiến trúc, có thể biến đổi và nâng tầm cho cá nhân, tổ chức và cộng đồng. Chúng tôi đã thay đổi cách nhìn nhận về kiến trúc, về không gian, mang đến những giải pháp độc đáo và mang tính nghệ thuật sâu sắc.</p>
    <p>Tập thể trường Hoa Mai luôn là những con người không ngừng đổi mới, mọi sự cản trở đổi mới luôn được giải phóng, thoát khỏi những quan điểm, suy nghĩ theo những lối món xưa cũ. Chúng tôi đẩy lùi các giới hạn của quá khứ, vượt qua thực tế và tạo nên kiến trúc của tương lai. Với đội ngũ có trình độ chuyên môn cao và giàu kinh nghiệm.</p>
    <a href="#" class="btn">Xem thêm</a>
  </div>

</section>
<!-- service -->
<section class="services up-and-down" id="services">
  <h1 class="heading">Những gì chúng tôi dạy cho con bạn</h1>
  <div class="box-container">

    <div class="box">
      <img src="assets/avatar/s1.jpg" alt="">
      <div class="info">
        <h3>giáo viên dạy đọc từ và chữ cái</h3>
      </div>
    </div>

    <div class="box">
      <img src="assets/avatar/s2.jpg" alt="">
      <div class="info">
        <h3>
          đất sét và thủ công</h3>
      </div>
    </div>

    <div class="box">
      <img src="assets/avatar/s3.jpg" alt="">
      <div class="info">
        <h3>
          lớp học vẽ</h3>
      </div>
    </div>

    <div class="box">
      <img src="assets/avatar/s4.jpg" alt="">
      <div class="info">
        <h3>lớp học tiếng anh</h3>
      </div>
    </div>

    <div class="box">
      <img src="assets/avatar/s5.jpg" alt="">
      <div class="info">
        <h3>
          sân chơi cho trẻ em</h3>
      </div>
    </div>

    <div class="box">
      <img src="assets/avatar/s6.jpg" alt="">
      <div class="info">
        <h3>sự kiện thể thao</h3>
      </div>
    </div>
  </div>

</section>
<!-- teacher -->
<section class="teacher" id="teacher">
  <h1 class="heading">Những giáo viên tuyệt vời của chúng tôi</h1>
  <div class="box-container">

    <div class="box">
      <img src="assets/avatar/teacher-1.png" alt="">
      <h3>john deo</h3>
      <span>giáo viên</span>
      <div class="share">
        <a href="#"><img src="assets/avatar/fb.jpg" alt=""></a>
        <a href="#" ><img src="assets/avatar/twitter.png" alt=""></a>
        <a href="#" ><img src="assets/avatar/instagram.png" alt=""></a>
        <a href="#" ><img src="assets/avatar/linked.png" alt=""></a>
      </div>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta molestias omnis quibusdam molestiae earum nobis nulla odio placeat distinctio odit libero labore praesentium, velit beatae cupiditate? Similique sint doloribus alias.</p>
    </div>

    <div class="box">
      <img src="assets/avatar/teacher-2.png" alt="">
      <h3>john deo</h3>
      <span>giáo viên</span>
      <div class="share">
        <a href="#"><img src="assets/avatar/fb.jpg" alt=""></a>
        <a href="#" ><img src="assets/avatar/twitter.png" alt=""></a>
        <a href="#" ><img src="assets/avatar/instagram.png" alt=""></a>
        <a href="#" ><img src="assets/avatar/linked.png" alt=""></a>
      </div>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta molestias omnis quibusdam molestiae earum nobis nulla odio placeat distinctio odit libero labore praesentium, velit beatae cupiditate? Similique sint doloribus alias.</p>
    </div>

    <div class="box">
      <img src="assets/avatar/teacher-3.png" alt="">
      <h3>john deo</h3>
      <span>giáo viên</span>
      <div class="share">
        <a href="#"><img src="assets/avatar/fb.jpg" alt=""></a>
        <a href="#" ><img src="assets/avatar/twitter.png" alt=""></a>
        <a href="#" ><img src="assets/avatar/instagram.png" alt=""></a>
        <a href="#" ><img src="assets/avatar/linked.png" alt=""></a>
      </div>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta molestias omnis quibusdam molestiae earum nobis nulla odio placeat distinctio odit libero labore praesentium, velit beatae cupiditate? Similique sint doloribus alias.</p>
    </div>

    <div class="box">
      <img src="assets/avatar/teacher-4.png" alt="">
      <h3>john deo</h3>
      <span>giáo viên</span>
      <div class="share">
        <a href="#"><img src="assets/avatar/fb.jpg" alt=""></a>
        <a href="#" ><img src="assets/avatar/twitter.png" alt=""></a>
        <a href="#" ><img src="assets/avatar/instagram.png" alt=""></a>
        <a href="#" ><img src="assets/avatar/linked.png" alt=""></a>
      </div>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta molestias omnis quibusdam molestiae earum nobis nulla odio placeat distinctio odit libero labore praesentium, velit beatae cupiditate? Similique sint doloribus alias.</p>
    </div>


  </div>




</section>
<!-- pricing -->
<section class="pricing up-and-down"  id="pricing">
  <h1 class="heading">
    Các gói định giá của chúng tôi
  </h1>
  <div class="box-container">
    <div class="box" style="background: url(https://i.pinimg.com/originals/22/cc/3e/22cc3e2fc96b3a65798348d313e99b4b.png) no-repeat;">
      <h3>Gói tuần</h3>
      <div class="price"><span>$</span>20</div>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus consequatur illo mollitia, assumenda quasi doloremque eos harum cumque? Necessitatibus totam dignissimos ut repellendus minus aliquam perspiciatis, illum placeat iusto maxime!</p>
      <a href="#" class="btn">select plan</a>
    </div>

    <div class="box" style="background: url(https://cdn.tgdd.vn//GameApp/-1//dienthoai-3-675x1200-8.jpg) no-repeat;">
      <span class="choise">best<br>choise</span>
      <h3>Gói tháng</h3>
      <div class="price"><span>$</span>50</div>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus consequatur illo mollitia, assumenda quasi doloremque eos harum cumque? Necessitatibus totam dignissimos ut repellendus minus aliquam perspiciatis, illum placeat iusto maxime!</p>
      <a href="#" class="btn">select plan</a>
    </div>

    <div class="box" style="background: url(https://st.quantrimang.com/photos/image/2020/07/30/Hinh-Nen-Trang-28.jpg) no-repeat;">
      <h3>Gói năm</h3>
      <div class="price"><span>$</span>250</div>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus consequatur illo mollitia, assumenda quasi doloremque eos harum cumque? Necessitatibus totam dignissimos ut repellendus minus aliquam perspiciatis, illum placeat iusto maxime!</p>
      <a href="#" class="btn">select plan</a>
    </div>
  </div>
</section>
<!-- contact -->
<!-- <section class="contact background" id="contact">
  <div class="row">
    <div class="contact-info">
      <div class="box">
        <h3 class="title">contact details</h3>
        <p><img src="https://symbols.vn/wp-content/uploads/2021/11/Bieu-tuong-dia-chi-Png-dep.png" alt="">mumbai, Vietnam -0123.</p>
        <p><img src="https://i.pinimg.com/originals/84/6a/03/846a03c6760f83f3a0e92609bca9cebf.jpg" alt="">example@gmail.com</p>
        <p><img src="https://icon2.cleanpng.com/20190405/ppb/kisspng-clip-art-portable-network-graphics-computer-icons-call-svg-png-icon-free-download-5-9324-online-5ca6fbd3c2dfc3.5814841315544473157982.jpg" alt="">+123-456-789</p>

      </div>
      <div class="box">
        <h3 class="title">follow us</h3>
        <a href="#"><img src="assets/avatar/fb.jpg" alt=""></a>
        <a href="#" ><img src="assets/avatar/twitter.png" alt=""></a>
        <a href="#" ><img src="assets/avatar/instagram.png" alt=""></a>
        <a href="#" ><img src="assets/avatar/linked.png" alt=""></a>

      </div>
      <div class="box">
        <h3 class="title">newsletter</h3>
        <form action="">
          <input type="email" placeholder="enter your email">
          <input type="submit" class="btn" value="send">

        </form>
      </div>
    </div>
    <form action="" class="contact-form">
      <input type="text" placeholder="name" class="box">
      <input type="email" placeholder="email" class="box">
      <input type="number" placeholder="number" class="box">
      <textarea placeholder="message" class="box message" name="" id="" cols="30" rows="10"></textarea>
      <input type="submit" class="btn" value="send message">
    </form>
  </div>
  <div class="image">
    <img src="assets/avatar/contact-img.png" alt="">
  </div>
</section> -->




